
.banner{
    width: 100vw;
    height: 350px;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
   }

.H2{
    margin-top: 2%;
    text-align: center;
    padding: 0%;
    color: darkblue;
}
